[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# IDE0100: Remove redundant equality
dotnet_diagnostic.IDE0100.severity = silent

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = silent

[*.{cs,vb}]
dotnet_style_coalesce_expression=true:silent
dotnet_style_null_propagation=true:silent
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:silent