[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never

[*.{cs,vb}]
dotnet_style_coalesce_expression=false:suggestion